.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: h;
    background-color: #151010;
}

.header img{
    width: 80px;
    height: 100%;
}

.nav {
    grid-area: n;
    background-color: gray;
}

.main {
    grid-area: c;
    background-color: dimgray;
}

.main img {
    width: 100%;
    height: 100%;
}